@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Kanit', sans-serif;
}

html,
body {
    background: black;
}

body {
    overflow-x: hidden;
}

/* Scrollbar start */
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #FF0066;    /* color of the scroll thumb */
}

.body_overflow {
    overflow: hidden;
}

/* Scrollbar end */

/* Burger menu start */
.bm-burger-button {
    position: fixed;
    width: 40px;
    height: 30px;
    right: 50px !important;
    top: 36px;
    left: auto !important;
    cursor: pointer;
    z-index: 10000;
}
.bm-burger-bars {
    background-color: #FB2576 !important;
}
.line-style {
    position: absolute;
    height: 20%;
    left: 0;
    right: 0;
}
.cross-style {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.bm-cross {
    background: #bdc3c7;
    height: 40px !important;
}
.bm-cross-button {
    height: 30px;
    width: 40px;
}
.bm-menu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 100000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #FB2576 !important; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
}

.bm-overlay {
    background: rgba(0, 0, 0, 1) !important;
}
.bm-item-list {
    color: #b8b7ad;
    margin-left: 10%;
    font-size: 20px;
}
.bm-item-list > * {
    display: flex;
    text-decoration: none;
    padding: 0.7em;
}
.bm-item-list > * > span {
    margin-left: 10px;
    font-weight: 700;
    color: white;
}
/* Burger menu end */

/* Responsive start */
@media only screen and (max-width: 480px){
    .bm-burger-button {
        right: 20px;
    }

}
/* Responsive end */